
.cart-view {
  border-right: 1px solid #efefef;
}

.cart-view-content {
  padding: 1rem 0;
}

.cart-items {
  padding: 1rem 0;
  border-bottom: 1px solid #eaeaea;
}

.title-product {
  color: #343a40;
  transition: 0.2s;
}

.title-product:hover, .title-product:active {
  color: #ef8400;
}

.old-price {
  font-size: 0.8rem !important;
  color: #a7a7a7;
  margin-bottom: 16px;
}

.quantity-selector {
  max-width: 100px;
  display: flex;
  align-items: center;
  border: 1px solid #c1c1c1;
}

input.form-control {
  width: 40px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  padding: 2px;
  border: none;
}

.btn-decrease,
.btn-increase {
  padding: 2px 6px;
  font-size: 14px;
}


.btn-trash {
  margin-left: 16px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  background-color: #f8f9fa;
  border: 1px solid transparent;
  border-color: #f8f9fa;
  border-radius: .25rem;
}

.btn-trash:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.payment {
  margin-bottom: 1rem;
}

.payment-view {
  padding: 1rem 0;
}

.title-payment {
  /* margin-top: 1rem; */
  font-size: 1rem;
}

.payment-detail {
  font-size: 0.8rem ;
  padding-left: 1rem;
}

.payment-detail > p > * {
  display: block;
  flex-basis: 50%;
}

.text-right {
  padding: 0 1rem;
  text-align: right;
  font-weight: bolder;
}

.text-payment {
  text-align: right;
  font-size: 1rem;
}

.btn-payment {
  text-align: right;
}

.btn-buy {
  margin-right: 0.5rem;
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-pay {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
