<div class="container d-flex justify-content-center align-items-center bg-light login">
  <div class="group-login">
    <div class="row title-login">
      <h2>Đăng nhập</h2>
    </div>

    <div class="row form-login">
      <label for="">Tài khoản</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Số điện thoại*" [(ngModel)]="phone" (blur)="validatePhone()">
        <span class="input-group-text"><i class="fa-solid fa-mobile"></i></span>
      </div>
      <label for="">Mật khẩu</label>
      <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="Mật khẩu*" [(ngModel)]="password" (blur)="validatePassword()">
        <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
      </div>
      <div class="text-danger text-center" *ngIf="errorMessage">{{ errorMessage }}</div>
      <div class="row">
          <button type="button" class="btn-sm btn-login" (click)="login()">Đăng nhập</button>
      </div>

      <div class="row register-login">
        <span>Bạn chưa có tài khoản? <a routerLink="/register">Đăng ký</a></span>
      </div>
    </div>
  </div>
</div>
