<div class="container d-flex justify-content-center align-items-center bg-light login">
  <div class="group-login">
    <div class="row title-login">
      <h2>Đăng ký</h2>
    </div>

    <div class="row form-login">
      <label for="">Họ và Tên</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Họ tên*" [(ngModel)]="name">
        <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
      </div>
      <label for="">Email</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Email*" [(ngModel)]="email">
        <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
      </div>
      <label for="">Số điện thoại</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Số điện thoại*" [(ngModel)]="phone">
        <span class="input-group-text"><i class="fa-solid fa-mobile"></i></span>
      </div>
      <label for="Mật khẩu">Mật khẩu</label>
      <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="Mật khẩu*" [(ngModel)]="password">
        <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
      </div>
      <label for="Nhập lại mật khẩu">Nhập lại mật khẩu</label>
      <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="Nhập lại mật khẩu*" [(ngModel)]="confirmPassword">
        <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
      </div>

      <div class="text-danger text-center" *ngIf="errorMessage">{{ errorMessage }}</div>

      <div class="row">
          <button type="button" class="btn-sm btn-login" (click)="register()">Đăng ký</button>
      </div>
    </div>
  </div>
</div>
