<div class="container d-flex justify-content-center align-items-center bg-light login">
  <div class=" group-login">
    <div class="row title-login">
      <h2>Đăng ký</h2>
    </div>

    <div class="row form-login">
      <label for="">Họ và Tên</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Họ tên*">
        <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
      </div>
      <label for="">Email</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Email*">
        <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
      </div>
      <label for="">Tài khoản</label>
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
        <input type="text" class="form-control" placeholder="Số điện thoại*">
        <span class="input-group-text"><i class="fa-solid fa-mobile"></i></span>
      </div>
      <label for="Mật khẩu">Mật khẩu</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Mật khẩu*">
        <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
      </div>
      <label for="Nhập lại mật khẩu">Nhập lại mật khẩu</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Nhập lại mật khẩu*">
        <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
      </div>

      <div class="row">
          <button type="button" class="btn-sm btn-login">Đăng ký</button>
      </div>

    </div>

  </div>

</div>
