<body class="container-fuild bg-light">
  <div class="container py-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a class="text-decoration-none" routerLink="/">Trang chủ</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" routerLink="/author">Tác giả</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ subAuthor_detail }}</li>
      </ol>
    </nav>
  </div>

  <div class="container bg-white" #productContainer>
    <div class="row p-3">
      <div class="form-filter">
        <form action="" class="form-inline">
          <div class="d-none d-md-flex form-group mb-2 ml-4 me-2 position-relative">
            <label for="" class="me-2 d-lg-block d-none">Sắp xếp </label>
            <select name="sort" class="form-control form-control-sm w-auto" (change)="sortProducts($event)">
            <option value="newest">Mới nhất </option>
              <option value="price_asc">Giá thấp đến cao</option>
              <option value="price_desc">Giá cao đến thấp</option>
            </select>
          </div>
        </form>
      </div>
    </div>
    <hr class="m-0">
    <!-- Product List -->
    <div class="row list-products" style="margin: 16px">
      <div class="col-6 col-sm-6 col-md-4 col-lg-2 item-products" *ngFor="let product of products">
        <div class="position-relative img-product">
          <a routerLink="/detail-product">
            <img
              [src]="product.img"
              class="img-fluid"
              alt="{{ product.name }}"
            />
          </a>
          <span class="position-absolute discount-product">{{ product.discount }}</span>
        </div>
        <div class="infor-products">
          <a href="" class="name-product">
            <h6>{{ product.name }}</h6>
          </a>
          <p class="price">{{ product.price | currency:'VND' }}</p>
          <p><del>{{ product.originalPrice | currency:'VND' }}</del></p>
          <p>
            <span class="star-rating" *ngFor="let star of [].constructor(product.rating)">
              <i class="fa-solid fa-star"></i>
            </span>
            <span class="text-rating">({{ product.preview }})</span>
          </p>
        </div>
      </div>
    </div>
    <!-- Pagination Controls -->
    <div class="pagination-controls py-3">
      <button class="btn" *ngIf="currentPage > 1" (click)="previousPage()" [disabled]="currentPage === 1">Trước</button>
      <ng-container *ngFor="let page of pages">
        <button class="btn" *ngIf="page !== '...'" (click)="goToPage(+page)" [class.active]="page === currentPage">{{ page }}</button>
        <span *ngIf="page === '...'">{{ page }}</span>
      </ng-container>
      <button class="btn" (click)="nextPage()" [disabled]="currentPage === totalPages">Sau</button>
    </div>
  </div>
</body>
