
h4 {
  font-size: 0.9rem;
}

.current-nav {
  margin: 0.5rem 0;
  color: #ef8400;
  font-weight: bold;
  font-size: 0.9rem;
}

.list-child ul li {
  margin: 0.5rem 0;
}

.list-child ul li a {
  color: #666;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

.filter-toggle {
  border-top: 2px solid #ffcf85;
  margin-top: 1rem;
  border-bottom: 2px solid #ffcf85;
  background-color: #f1faff;
}


