p {
  padding: 0;
  margin: 0 !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.text-dark {
  color: #343a40 !important;
}

.text-white {
  color: #fff !important;
}

.text-upcase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}
