@media (max-width: 991.98px) {
  /* layout header */
  .header-top .group-icon {
    margin-bottom: 10px;
  }

  .group-icon h5 {
    display: none;
  }

  .group-search {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .group-search input {
    width: 80% !important;
  }
  /* end layout header */

  .payment-form {
    border-right: none !important;
  }
}

@media (max-width: 425px) {
  .quantity-selector {
    max-width: 100px;
  }

  .btn-trash {
    margin-left: 8px;
    padding: .375rem .5rem;
    font-size: 0.875rem;
  }

  .d-flex.align-items-center {
    flex-wrap: nowrap;
  }
}


/* Mobile (320px - 480px) */
@media only screen and (max-width: 480px) {
  /* CSS cho mobile */
}

/* Tablet (481px - 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* CSS cho tablet */
}

/* Small Desktop (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* CSS cho small desktop */
}

/* Large Desktop (1025px - 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  /* CSS cho large desktop */
}

/* Extra Large Screens (1201px trở lên) */
@media only screen and (min-width: 1201px) {
  /* CSS cho màn hình cực lớn */
}
