@media (max-width: 991.98px) {
  /* layout header */
  .group-icon {
    margin-bottom: 10px;
  }

  .group-icon h5 {
    display: none;
  }

  .group-search {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .group-search input {
    width: 80% !important;
  }
  /* end layout header */

}

@media (min-width: 768px) {
  .mobile-accordion { display: none; }


}

@media (max-width: 768px) {
  .desktop-footer { display: none; }
  .hideItems { display: none !important; }
}
