<body class="container-fluid bg-light">
  <div class="container py-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="margin: 0;">
        <li class="breadcrumb-item"><a class="text-decoration-none" href="#">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Vũ Hồng Phong</li>
      </ol>
    </nav>
  </div>

  <div class="container bg-white">
    <div class="row p-3">
      <div class="form-filter">
        <form action="" class="form-inline">
          <div class="d-none d-md-flex form-group mb-2 ml-4 me-2">
            <label for="" class="me-2 d-lg-block d-none">Sắp xếp </label>
            <select name="sort" class="form-control form-control-sm w-auto">
              <option value="newest">Mới nhất</option>
              <option value="price_acs">Giá thấp đến cao</option>
              <option value="price-desc">Giá cao đến thấp</option>
            </select>
          </div>
        </form>
      </div>
    </div>
    <hr class="m-0">
  </div>
</body>
