<div class="d-block d-md-none accordion mobile-accordion footer" id="footerAccordion">
  <!-- Trợ giúp khách hàng -->
  <div class="accordion-item">
      <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
              TRỢ GIÚP KHÁCH HÀNG
          </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#footerAccordion">
          <div class="accordion-body">
              <ul class="list-unstyled">
                  <li>Hướng Dẫn Mua Hàng</li>
                  <li>Thanh Toán</li>
                  <li>Vận Chuyển</li>
                  <li>Trả Hàng & Hoàn Tiền</li>
                  <li>Chính Sách Mua Hàng</li>
                  <li>Chính Sách Bảo Hành</li>
              </ul>
          </div>
      </div>
  </div>

  <!-- Về Dimuadi -->
  <div class="accordion-item">
      <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
              VỀ BOOKSTORE
          </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#footerAccordion">
          <div class="accordion-body">
              <ul class="list-unstyled">
                  <li>Giới Thiệu Về BookStore</li>
                  <li>Chính Sách Bảo Mật</li>
                  <li>Điều Khoản BookStore</li>
                  <li>Chính Hãng</li>
                  <li>Đối tác bán hàng</li>
                  <li>Liên Hệ</li>
              </ul>
          </div>
      </div>
  </div>

  <!-- Theo dõi Dimuadi -->
  <div class="accordion-item">
      <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
              THEO DÕI BOOKSTORE
          </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#footerAccordion">
          <div class="accordion-body">
              <ul class="list-unstyled">
                  <li><i class="fa-brands fa-facebook"></i>Facebook</li>
                  <li><i class="fa-brands fa-instagram"></i> Instagram</li>
                  <li><i class="fa-brands fa-linkedin"></i> Linkedin</li>
              </ul>
          </div>
      </div>
  </div>

  <!-- Tải App -->
  <div class="accordion-item">
      <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour">
              TÀI KHOẢN CỦA TÔI
          </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#footerAccordion">
          <div class="accordion-body">
              <ul class="list-unstyled">
                  <li>Đăng nhập/Tạo tài khoản mới</li>
                  <li>Thay đổi địa chỉ khách hàng</li>
                  <li>Lịch sử mua hàng</li>
              </ul>
          </div>
      </div>
  </div>

</div>


<!-- begin footer -->
<div class="container-fluid footer ">
  <div class="row about-me desktop-footer d-none d-md-flex">
      <div class="col support-cus">
          <div class="text-header"><h6>TRỢ GIÚP KHÁCH HÀNG</h6></div>
          <div class="text-description">
              <ul>
                  <li>Hướng Dẫn Mua Hàng</li>
                  <li>Thanh Toán</li>
                  <li>Vận Chuyển</li>
                  <li>Trả Hàng & Hoàn Tiền</li>
                  <li>Chính Sách Mua Hàng</li>
                  <li>Chính Sách Bảo Hành</li>
              </ul>
          </div>
      </div>

      <div class="col support-cus">
          <div class="text-header"><h6>VỀ BOOKSTORE</h6></div>
          <div class="text-description">
              <ul>
                  <li>Giới Thiệu Về BookStore</li>
                  <li>Chính Sách Bảo Mật</li>
                  <li>Điều Khoản BookStore</li>
                  <li>Chính Hãng</li>
                  <li>Đối tác bán hàng</li>
                  <li>Liên Hệ</li>
              </ul>
          </div>
      </div>

      <div class="col support-cus ">
          <div class="header-network"><h6>THEO DÕI BOOKSTORE</h6></div>
          <div class="icon-network">
              <ul class="dowload">
                <li><i class="fa-brands fa-facebook"></i>Facebook</li>
                <li><i class="fa-brands fa-instagram"></i> Instagram</li>
                <li><i class="fa-brands fa-linkedin"></i> Linkedin</li>
              </ul>
          </div>
      </div>

      <div class="col support-cus install-app">
          <div class="header-network"><h6>TÀI KHOẢN CỦA TÔI</h6></div>
          <div class="icon-network">
            <ul class="list-unstyled">
              <li>Đăng nhập/Tạo tài khoản mới</li>
              <li>Thay đổi địa chỉ khách hàng</li>
              <li>Lịch sử mua hàng</li>
          </ul>
          </div>
      </div>
  </div>

  <div class="row contact">
      <span>CÔNG TY TNHH BOOKSTORE</span>
      <ul class="list-unstyled">
          <li><span>Địa chỉ: </span>Trần Quốc Vượng, Dịch Vọng Hậu, Cầu Giấy, Hà Nội</li>
          <li><span>Hotline: </span>0369426593</li>
          <li><span>Email: </span>phongvu3092003&#64;gmail.com</li>
          <!-- <li><span>Thông tin doanh nghiệp: </span> </li> -->
      </ul>
  </div>
</div>
<!-- end footer -->

