<body class="container-fuild bg-light">
  <div class="container content">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="padding-top: 16px">
        <li class="breadcrumb-item">
          <a href="#" class="text-decoration-none">Trang chủ</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Flashsale</li>
      </ol>
    </nav>

    <div class="banner-flash-sale">
      <img src="assets/img/flash-sale/flashBookStore.jpg" alt="" />
    </div>

    <div class="container justify-content-center align-items-center  bg-white flash-sale">
      <div class="row d-flex group-time">
        <h2 class="flashsale-title text-upcase">
          flash sale
          <span class="text-lowercase" style="font-size: 1rem"
            >kết thúc trong</span
          >
          <span class="countdown">
            <small>00</small>
            :
            <small>00</small>
            :
            <small>00</small>
          </span>
        </h2>
      </div>

      <hr class="m-0" style="margin: 16px 0 24px 0 !important;" />

      <div class="row list-products" style="margin: 16px">
        <div class="col item-products">
          <div class="position-relative img-product">
            <a routerLink="/detail-product">
              <img
                src="assets/img/home/flashsale/xin-chao-noi-so-1.jpg"
                class="img-fuild"
                alt=""
              />
            </a>
            <span class="position-absolute discount-product">40%</span>
          </div>
          <div class="infor-products">
            <a href="" class="name-product"
              ><h6>Xin Chào, Nỗi Sợ (Hello, Fears)</h6></a
            >
            <p class="price">72,000</p>
            <p><del>120,000</del></p>
            <p>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="text-rating">(79)</span>
            </p>
          </div>
        </div>

        <div class="col item-products">
          <div class="position-relative img-product">
            <a href="">
              <img
                src="assets/img/home/flashsale/dung-thach-toi-1.jpg"
                class="img-fuild"
                alt=""
              />
            </a>
            <span class="position-absolute discount-product">40%</span>
          </div>
          <div class="infor-products">
            <a href="" class="name-product"
              ><h6>Xin Chào, Nỗi Sợ (Hello, Fears)</h6></a
            >
            <p class="price">72,000</p>
            <p><del>120,000</del></p>
            <p>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="text-rating">(79)</span>
            </p>
          </div>
        </div>

        <div class="col d-none d-sm-block item-products">
          <div class="position-relative img-product">
            <a href="">
              <img
                src="assets/img/home/flashsale/dung-thach-toi-1.jpg"
                class="img-fuild"
                alt=""
              />
            </a>
            <span class="position-absolute discount-product">40%</span>
          </div>
          <div class="infor-products">
            <a href="" class="name-product"
              ><h6>Xin Chào, Nỗi Sợ (Hello, Fears)</h6></a
            >
            <p class="price">72,000</p>
            <p><del>120,000</del></p>
            <p>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="text-rating">(79)</span>
            </p>
          </div>
        </div>

        <div class="col d-none d-md-block item-products">
          <div class="position-relative img-product">
            <a href="">
              <img
                src="assets/img/home/flashsale/toa-sang-shine.jpg"
                class="img-fuild"
                alt=""
              />
            </a>
            <span class="position-absolute discount-product">40%</span>
          </div>
          <div class="infor-products">
            <a href="" class="name-product"
              ><h6>Xin Chào, Nỗi Sợ (Hello, Fears)</h6></a
            >
            <p class="price">72,000</p>
            <p><del>120,000</del></p>
            <p>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="text-rating">(79)</span>
            </p>
          </div>
        </div>

        <div class="col d-none d-lg-block item-products">
          <div class="position-relative img-product">
            <a href="">
              <img
                src="assets/img/home/flashsale/toa-sang-shine.jpg"
                class="img-fuild"
                alt=""
              />
            </a>
            <span class="position-absolute discount-product">40%</span>
          </div>
          <div class="infor-products">
            <a href="" class="name-product"
              ><h6>Xin Chào, Nỗi Sợ (Hello, Fears)</h6></a
            >
            <p class="price">72,000</p>
            <p><del>120,000</del></p>
            <p>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="text-rating">(79)</span>
            </p>
          </div>
        </div>
      </div>

      <div class="row list-products" style="margin: 16px">
        <div class="col item-products">
          <div class="position-relative img-product">
            <a routerLink="/detail-product">
              <img
                src="assets/img/home/flashsale/xin-chao-noi-so-1.jpg"
                class="img-fuild"
                alt=""
              />
            </a>
            <span class="position-absolute discount-product">40%</span>
          </div>
          <div class="infor-products">
            <a href="" class="name-product"
              ><h6>Xin Chào, Nỗi Sợ (Hello, Fears)</h6></a
            >
            <p class="price">72,000</p>
            <p><del>120,000</del></p>
            <p>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="text-rating">(79)</span>
            </p>
          </div>
        </div>

        <div class="col item-products">
          <div class="position-relative img-product">
            <a href="">
              <img
                src="assets/img/home/flashsale/dung-thach-toi-1.jpg"
                class="img-fuild"
                alt=""
              />
            </a>
            <span class="position-absolute discount-product">40%</span>
          </div>
          <div class="infor-products">
            <a href="" class="name-product"
              ><h6>Xin Chào, Nỗi Sợ (Hello, Fears)</h6></a
            >
            <p class="price">72,000</p>
            <p><del>120,000</del></p>
            <p>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="text-rating">(79)</span>
            </p>
          </div>
        </div>

        <div class="col d-none d-sm-block item-products">
          <div class="position-relative img-product">
            <a href="">
              <img
                src="assets/img/home/flashsale/dung-thach-toi-1.jpg"
                class="img-fuild"
                alt=""
              />
            </a>
            <span class="position-absolute discount-product">40%</span>
          </div>
          <div class="infor-products">
            <a href="" class="name-product"
              ><h6>Xin Chào, Nỗi Sợ (Hello, Fears)</h6></a
            >
            <p class="price">72,000</p>
            <p><del>120,000</del></p>
            <p>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="text-rating">(79)</span>
            </p>
          </div>
        </div>

        <div class="col d-none d-md-block item-products">
          <div class="position-relative img-product">
            <a href="">
              <img
                src="assets/img/home/flashsale/toa-sang-shine.jpg"
                class="img-fuild"
                alt=""
              />
            </a>
            <span class="position-absolute discount-product">40%</span>
          </div>
          <div class="infor-products">
            <a href="" class="name-product"
              ><h6>Xin Chào, Nỗi Sợ (Hello, Fears)</h6></a
            >
            <p class="price">72,000</p>
            <p><del>120,000</del></p>
            <p>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="text-rating">(79)</span>
            </p>
          </div>
        </div>

        <div class="col d-none d-lg-block item-products">
          <div class="position-relative img-product">
            <a href="">
              <img
                src="assets/img/home/flashsale/toa-sang-shine.jpg"
                class="img-fuild"
                alt=""
              />
            </a>
            <span class="position-absolute discount-product">40%</span>
          </div>
          <div class="infor-products">
            <a href="" class="name-product"
              ><h6>Xin Chào, Nỗi Sợ (Hello, Fears)</h6></a
            >
            <p class="price">72,000</p>
            <p><del>120,000</del></p>
            <p>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="star-rating"><i class="fa-solid fa-star"></i></span>
              <span class="text-rating">(79)</span>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
